html {
    background-image: linear-gradient(270deg, gray 0%, black 50%, gray 100%);
} 

#head {
    background-image: url(Images/omg-meme-facebook-cover-timeline-banner-for-fb.jpg);
    background-attachment: scroll;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    max-height: 12em;
    min-height: 12em;
    margin-bottom: 0;
    padding-bottom: 0;
}
html * {
    display: block;
}

title {
    display: none;
}

nav {
    margin-top: 0em;
}

nav *:hover {
    color: white;
    outline-color: black;
    text-shadow: 1px 1px black;
}
.nostyle {
    width: 18.3%;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: darkgray;
    outline-style: solid;
    outline-width: 4.8px;
    font-family: "Times New Roman", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}
body {
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: slategrey;
    border-style: solid;
    background-color: whitesmoke;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    color: #545454;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    text-align: center;
    text-shadow: 1px 1px #d3d3d3;
    min-height: 800px;
}
.float {
}
h4, h2 {
    text-align: center;
    font-family: "Impact", Arial, sans-serif;
}
.right-float {
    width: 10em;
    display: inline-block;
    float: right;
    outline-style: solid;
}

.left-float {
    width: 10em;
    display: inline-block;
    float: left;
    outline-style: solid;
}
a {
    display: inline-block;
    text-decoration: none;
    color: orangered;
}
 h1 {
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
    width: auto;
    font-size: 5em;
     font-family: "Impact", Arial, sans-serif;
}

h3 {
    
    font-size: 1.5em;
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Arial, sans-serif;
}

footer {
    left: 0;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    background-color: grey;
    outline-style: solid;
    outline-color: black;
    color: black;
    line-height: 2em;
}